body{
    background-color: #eaf6f6;
}
hr{
    /* background-color: white; */
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: gray;
    width: 5%;
    height: 2px;
}
h1,h3{
    color: #66bfbf;
}
.img{
    width: 200px;
}
